.TH "{BAND}" ? "{DATE}" pyechonest "Echo Nest Manuals"
.SH NAME
{BANDSLUG} \- {SMALLBIO}
.SH SYNOPSIS
.B {BANDSLUG} {TERMS}
.SH DESCRIPTION
.B {BANDSLUG} - {BAND}
{BIOGRAPHY}
.SH GENRE
{GENRE}
.SH SONGS
{SONGS}
.SH "SEE ALSO"
{SIMILAR}
